<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="#" type="image/x-icon" />
    <link rel="stylesheet" href="/style.css" />
    <title>Document</title>
  </head>
  <body>
    <%- include('partials/header.ejs') %>

    
    <%- include('partials/getdata.ejs') %>

    <form action="/" method="POST">
      table name:<input type="text" name="table_name" />
      <button type="submit">Get table</button>
    </form>
  </body>
</html>
