<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="#" type="image/x-icon" />
    <link rel="stylesheet" href="/style.css" />
    <title>Document</title>
  </head>
  <body>
    <%- include('partials/header.ejs') %>



    <%- include('partials/getdata.ejs') %>

    <form action="/selectRemove.ejs" method="POST">
      name:<input type="text" name="name" />
      <button type="submit">Get table</button>
    </form>

    <form action="/remove.ejs" method="POST">
      id:<input type="text" name="id" />
      <button type="submit">Delete </button>
    </form>
  </body>
</html>
